.mobileFlex(){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayNoImage(){
    display: none;
}

.mobileMargin(@width, @tb-margin){
    width: @width;
    margin: @tb-margin auto;
}

// Parametric Mixin for Button Style
.buttonStyle(@font-color, @background-color){
    color: @font-color;
    background: @background-color;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    font-size: 2rem;
}